params {

  outdir = "$baseDir/outputs"
  bowtieInd = "~/enhancerAssociatedInsertions/indices/bowtie/hg19"
  bowtie2Ind = "~/enhancerAssociatedInsertions/indices/bowtie2/hg19"
  genes = "~/enhancerAssociatedInsertions/data/hg19_refseq.ucsc"
  exons = "$baseDir/outputs/exons/exon_ucsc.bed"
  trt_ctl_fq  = "~/enhancerAssociatedInsertions/data/SRAdir/*_{c,t}.fastq"
  trt_fq = "~/enhancerAssociatedInsertions/data/SRAdir/*_t.fastq"
  hg19_genes = "~/enhancerAssociatedInsertions/data/genes.bed"
}
 
process {
  
  withName: align_ungapped {
    container = '~/enhancerAssociatedInsertions/containers/bowtie.sif'
  }  
  withName: "align_gapped|align_fq" {
    container = '~/enhancerAssociatedInsertions/containers/bowtie2.sif'
  }
  withName: "samtobam|bamtosam|sam2bam" {
    container = '~/enhancerAssociatedInsertions/containers/samtools.sif'
  }
  withName: "sort_index|unique_reads|sort_index_macs" {
     container = '~/enhancerAssociatedInsertions/containers/sambamba.sif'
  }
  withName: macs {
     container = '~/enhancerAssociatedInsertions/containers/macs2.sif'
  }
  withName: "identify_ncinsertions|identify_enhancers" {
     container = '~/enhancerAssociatedInsertions/containers/bedtools.sif'
  }
  withName: pblat {
     container = '~/enhancerAssociatedInsertions/containers/pblat.sif'
  }
  withName: "closest_features|sort_bed" {
     container = '~/enhancerAssociatedInsertions/containers/bedops.sif'
  }

}

singularity {
  enabled = true
}

profiles {
  
  slurm {
    process {
      executor = 'slurm'
	  queue = 'main'
	  maxRetries = 4
	}
  }
}

